@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body, html {
    height: 100%;
}

body{
    font-family: 'Varela Round', sans-serif;
}

section {
    min-height: 100vh;
}
.primary{
    background: #F9AA33;
}

.secondary{
    background: #232F34;
}
.default{
    background: #707070;
}

.text-primary{
 color: #F9AA33 !important
}

.text-secondary{
    color: #232F34;
}

.rounded-btn{
    border-radius: 25px;
}


.wrapper {
    display: flex;
    width: 100%;
    /* background-image: linear-gradient(#0A101F,#091224); */
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #F9AA33;
    color: #fff;
    transition: all 0.3s;
}

#content{
    /* background-image: url("../img/backgroundTest.png"); */
    width: 100%;
    min-height: 100vh;
    margin-left: 0px;
    /* position: fixed; */
    /* padding: 5%; */
    /* background-repeat: no-repeat;
    background-position: right;
    background-size: contain */
    
}

.btn-primary{
    background: #F9AA33;
}
.btn-outline.btn-primary{
    color: #F9AA33 !important;
    background: #091224;
    border: 3px solid #F9AA33;
}

.btn-raised.btn-primary{
    background: #F9AA33;
    color: #fff !important;
    border: 3px solid #F9AA33;
}

ul>li>a:hover{
    text-decoration: none;
   
}



.box{

    
     width: 100%;
 
     /* position: fixed; */
     padding-left: 5%;
      background-repeat: no-repeat;
     background-position: right;
     background-size: contain ;
   
}

#home{
    background-color: #091224;
    background-image: url(../img/backgroundTest.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
}
.fab {
   
    color: #8c8e90f0;
    padding: 20px;
    /* border: 1px solid white;
    border-radius: 50%;
    background: #09111d;
    box-shadow: 0px 2px 10px #ecaa5899; */
    font-size: 1.5rem;
}
.socialIcons>a>i:hover{
    color: #F9AA33;
    font-size: 1.7rem;
}


.skill-circle{
    background: #ecaa58;
    padding: 25px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 5px solid #252f33;
    box-shadow: 2px 2px 2px darkgrey;

}
.skill{
    position: absolute;
    left: 25px;
}

  .skill-text{
      margin-top: 25px;
  }
  #contact{

    /* background-image: linear-gradient(#0A101F,#091224); */
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-footer{
      background : #F9AA33;
      border-radius: 0px 0px 20px 20px !important;
  }

  footer{
      height: 100px;
  }
  #chat{
      -webkit-animation: pulse 1s infinite;
  }
  .btn-rounded{
      border-radius: 25px;  
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
      background:#F9AA33;
  }
  .nav-pills .nav-item a{
      color: #0A101F;
  }

  #project{
    background-image: linear-gradient(to top left, #0a111e 50%, white 50%);
  }
  #about{
    background: linear-gradient(0deg,#fffffd 50%,#09121f 50%);
    color: white;
  }
  .underline{
    
  }
  .border-rounded{
      border-radius: 25px;
  }

  #sidebar li a:hover{
      background: #09121f;
      color: #252f33;
  }
  #download_btn{
      border: 3px solid #F9AA33;
      color: #F9AA33;
      background: #09121f;
  }
  #contact_btn{
    border: 3px solid #F9AA33;
    background: #F9AA33;
    color: #09121f;
}
#download_btn:hover{
    
    border-radius: 0px;
}
#contact_btn:hover{
    border-radius: 0px;
}
#sidebar li:hover{
    border-left: 12px solid #232F34;
    border-bottom: 0px;
}

.contact-img{
    width: 15rem;
}
.contact-us-card{
    padding: 1rem;
   
    margin-top: 3rem;
    border-radius: 15px;
    color: #2b2b2bbf
}

.project-card-box{
    margin: 1rem;
}

.project-card-outerbox{
    border: 1px solid;
    padding: 1rem;
    background: aqua;
}
.project-card-img-box{
    background: antiquewhite;
    border: 1px solid;
    width: 100%;
    height: 15rem;
    margin-top: -3rem;
}
.project-card-content-box{
    height: 15rem;
    background: aliceblue;
}

.learn-more-btn:hover{
    background:#09121f;
    border-radius: 0px !important;
    border: 0px !important
 
}

  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #content{
        margin-left: 0px;
        
    }
    h1{
        font-size: 2rem
    }
    h5{
        font-size: 1.2rem;
    }
    .contact-us-card h5{
        font-size: 1.2rem;
    }
    .contact-img{
        width: 10rem;
    }
    .contact-us-card-left{
        margin: 1rem 0rem;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #content{
        margin-left: 0px;
        
    }

   
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #content{
        margin-left: 0px;
        
    }
    #about{
        background: linear-gradient(17deg,#fffffd 50%,#09121f 50%);
       
      }

    .contact-img{
        width: 15rem;
    }
   
    
    
   
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #content{
        margin-left: 250px;
    }
    #sidebar .active{
        border-left: 12px solid #232F34;
        border-bottom: 0px;
    }
    .contact-us-card{
        
       
        margin: 3rem;
        
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #content{
        margin-left: 250px;
    }
    #sidebar .active{
        border-left: 12px solid #232F34;
        border-bottom: 0px;
    }
    
}
