.primary{
    background: #F9AA33;
}

.secondary{
    background: #232F34;
}
.default{
    background: #707070;
}

.text-primary{
 color: #F9AA33 !important
}

.text-secondary{
    color: #232F34;
}

.rounded-btn{
    border-radius: 25px;
}


.wrapper {
    display: flex;
    width: 100%;
    background-image: linear-gradient(#0A101F,#091224);
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #F9AA33;
    color: #fff;
    transition: all 0.3s;
}

#content{
    /* background-image: url("../img/backgroundTest.png"); */
    width: 100%;
    height: 100vh;
    margin-left: 0px;
    /* position: fixed; */
    /* padding: 5%; */
    /* background-repeat: no-repeat;
    background-position: right;
    background-size: contain */
    
}

.btn-primary{
    background: #F9AA33;
}
.btn-outline.btn-primary{
    color: #F9AA33 !important;
    background: #091224;
    border: 3px solid #F9AA33;
}

.btn-raised.btn-primary{
    background: #F9AA33;
    color: #fff !important;
    border: 3px solid #F9AA33;
}

ul>li>a:hover{
    text-decoration: none;
   
}


.box{
    height: 100vh;
    
     width: 100%;
 
     /* position: fixed; */
     padding: 5%;
      background-repeat: no-repeat;
     background-position: right;
     background-size: contain ;
   
}
#home{
    background-image: url("../img/backgroundTest.png");
}
.fab {
   
    color: #8c8e90f0;
    padding: 20px;
    /* border: 1px solid white;
    border-radius: 50%;
    background: #09111d;
    box-shadow: 0px 2px 10px #ecaa5899; */
    font-size: 1.5rem;
}
#socialIcons>a>i:hover{
    color: #F9AA33;
    font-size: 1.7rem;
}
#fixedSidebar{
    background: #F9AA33;
    margin: auto;
    padding: 0px;
    height: 60px;
}
#fixedSidebar>ul{
    list-style: none;
    padding: 0px;
}
#fixedSidebar>ul>li>a{
    color: white;
    text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    #content{
        margin-left: 0px;
        margin-top: 60px;
    }
    .active{
        border-bottom: 5px solid #232F34;
        border-left: 0px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #content{
        margin-left: 0px;
        margin-top: 60px;
    }
    .active{
        border-bottom: 5px solid #232F34;
        border-left: 0px;
    }
    
   
   
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #content{
        margin-left: 0px;
        margin-top: 60px;
    }
   
    
    
   
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #content{
        margin-left: 250px;
    }
    .active{
        border-left: 12px solid #232F34;
        border-bottom: 0px;
    }
    
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #content{
        margin-left: 250px;
    }
    .active{
        border-left: 12px solid #232F34;
        border-bottom: 0px;
    }
    
}
